﻿/*body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #909eab url(bg.png);
	font-family: Helvetica, sans-serif; font-size: 18px; line-height: 24px;
}*/

nav {
	/*margin: 100px auto;*/
    text-align:left;
    /*height:16px;*/
	/*text-align: center;*/
    padding:0px;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
    margin:0px;
	background: #fff;
	/*background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);*/
	/*box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
	padding: 0px 0px;
	/*border-radius: 10px;*/
	list-style: none;
	position: relative;
	/*display: inline-table;*/
    white-space:nowrap;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			/*background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
		}
			nav ul li:hover a {
				color: #fff;
			}

		nav ul li a {
			display: block;
            padding: 5px 5px;
            padding-right: 30px;
			/*color: #757575;*/
            color:red;
            text-decoration: none;
		}


	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;

        border-width:1px;
        border-color:white;
        border-style:solid;

        z-index: 9999;
	}
		nav ul ul li {
			float: none;
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			nav ul ul li a {
				padding: 5px 40px;
				color: #fff;
			}
				nav ul ul li a:hover {
					background: #4b545f;
				}

	nav ul ul ul {
		position: absolute; left: 100%; top:0;
        z-index: 9999;
	}

    nav a:link, nav a:hover, nav a:visited, nav a:active {
        color:blue;
    }
