html {
    background-color: #e2e2e2;
    /* border-top: solid 3px #0853bb; */
    margin:auto;
    padding: 0;

    height: 100%;
}

body {
    background-color: #f5f5f5;
    /*background-color:#eee;*/
    /*color: #333;*/
    font-size: 12px;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    margin:0 auto;
    padding: 0;

    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    /*margin-top: 0.75em;*/
    border: 0 none;
}

#header-panel{
    position : fixed;
    height: 100px;
    width: 100%;
    box-shadow : #888 3px 3px 8px;
    background-color: #fff;
    color: #fff;
}

#header-panel table{
    background-color: #0134c5;

    /*
    background-image : url("/CodeIng01/assets/images/bg_title.jpg");
    background-repeat :repeat-x;
    */
}

#header-panel1 a {
    color: #fff;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
    cursor:pointer;
}

    #header-panel1 a:link, #header-panel1 a:visited,
    #header-panel1 a:active, #header-panel1 a:hover {
        color:#fff;
        font-weight:normal;
        text-decoration : none;
    }

    #header-panel1 a:hover {
        text-shadow: 0.1em 0.1em 0.2em white;
    }

#header-div-title {

    color:white;
    font-size: 22px;
    font-weight:bold;
    padding: 0px;
    padding-left:10px;
    text-shadow: 0.1em 0.1em 0.2em black;

    height: 75px;
    width: 100%;

    display: table-cell;
    vertical-align: middle;
}


#header-div-menu{
    background-color: white;
    padding-left: 30px;
    /* height: 20px; */
}



#body-panel{
    padding: 30px;
    padding-top:140px;

    box-shadow : #888 3px -1px 8px;
}

#body-panel{
    background-color: rgb(255, 255, 255);
}

#footer-panel{
    padding: 30px;
    padding-top: 10px;
    color : #555;
    font-weight:normal;
}

#footer-panel div{
    padding: 1px;

}


